
/* Card Styles */
.card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
}

.card-body {
    padding: 20px;
}

.card-title {
    font-size: 1.25rem;
    font-weight: bold;
}

.card-text {
    font-size: 1rem;
    margin: 10px 0;
}

.btn-primary {
    background-color: #f95959;
    border: none;
    padding: 10px 20px;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}

.btn-primary:hover {
    background-color: #d84646;
}

/* Pagination Styles */
.pagination {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.pagination .page-item .page-link {
    color: #f95959;
    margin: 0 5px;
    border-radius: 5px;
}

.pagination .page-item .page-link:hover {
    background-color: #f95959;
    color: white;
    border: none;
}



