.content {
    margin-left: 10%;
}

/* Media query for screens with width below 760px */
@media (max-width: 790px) {
    .content {
        margin-left: 0; /* Remove left margin */
        margin-top: 30px; /* Add top margin */
    }
}.content-table {
    margin-left: 10%;
    margin-top:20px ;
}

/* Media query for screens with width below 760px */
@media (max-width: 790px) {
    .content-table {
        margin-left: 0; /* Remove left margin */
        margin-top: 50px; /* Add top margin */
    }
}

