@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
* {
    padding: 0;
    margin:0;
    box-sizing: border-box;
    font-family: 'rubik',sans-serif;


}li{
    list-style: none;
}a{
    text-decoration: none;
}main{
    width: 100%;
}footer{
    position: relative;
    width: 100%;
    left: 0;
    bottom: 0;
    margin-top: 60px ;
 
    
    background-color:#fff;
    box-shadow: 0 16px 70px -8px rgba(0, 0,0, 0.25);
    border-radius: 20px 20px 0 0;
    transition: background 0.3 linear;
    
}    .tou .a {
    color: #828282;
    margin-left: 1.5rem;
}.tou .a:hover{
    color: #313131;

}.container-foot{
    max-width: 1240px;
    padding: 30px 40px;
    margin: auto;
}.content-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}.profil .logo-area{
    display: flex;
    align-items: center;
    margin-bottom: 1rem;

}.profil .logo-area img {
    border-radius: 50%; 
    width: 50px;
    height: 50px;
    border: 1px solid#fff;

}.logo-area .logo-name{
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0.1rem;
    color: #000;
}.desc-area{
    max-width: 320px;
    margin: 1.25rem;
}.desc-area p {
    color: #828282;
    font-weight: 400;
    line-height: 28px;
}.social-media a {
    color: #828282;
    margin-right: 22px;
    font-size: 24px;

}.social-media a:hover {
    color: #313131;
}.service{
    display: flex;
}.service-header{
    margin-right :40px;
}li.service-name{
color: #000;
font-weight: 600;
}.service-header li a{
    color: #828282;
    padding-bottom: 1px;
    font-weight: 400;

}.service-header li a:hover{
  color: #313131;

}.service-header li{
    margin-bottom: 10px;
}hr{
    height: 1px;
    border: none;
    background-color: #828282;
    margin-bottom: 1rem;
}.footer{
    display: flex;
    justify-content: space-between;
    align-items:center ;
    font-size: 0.875rem;
     
}.copy-right{
    color: #828282;
    display: flex;
    align-items: center;
}.copy-right span{
    margin-left: 8px;
    font-weight: 400;
    letter-spacing: 0.135rem;
}.tou a {
    color: #828282;
    margin-left: 1.5rem;
}.tou a:hover{
    color: #313131;

}@media screen and (max-width:768px){
    .content-footer{
        flex-wrap: wrap;
        justify-content: left;
    }.service{
        flex-wrap: wrap;
        justify-content: left;
    }.service-header{
        margin-left: 0;
        margin-right: 40px;
    }.social-media{
        margin-bottom: 1rem;
    }.footer-bottom{
        flex-wrap: wrap;
        justify-content: center;

    }
}@media screen and (max-width :510px){
    .service-header{
        margin-bottom: 8px;

    }.copy-right{
        margin-bottom: 8px;
    }
    footer{
        position: relative;
        width: 100%;
        left: 0;
        bottom: 0;
        margin-top: 300px;
    
        background-color:#fff;
        box-shadow: 0 16px 70px -8px rgba(0, 0,0, 0.25);
        border-radius: 20px 20px 0 0;
        transition: background 0.3 linear;
    }    
}